In [16]:
from google.cloud import bigquery

In [34]:
import os
from oauth2client.service_account import ServiceAccountCredentials

# credentials = ServiceAccountCredentials.from_json_keyfile_name('dpnhung.json')
# client = bigquery.Client(credentials=credentials)
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'dpnhung.json'
client = bigquery.Client()

In [37]:
dataset_ref = client.dataset('hacker_news', project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [40]:
tables = list(client.list_tables(dataset))

table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [41]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), ())]

In [42]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"Firstly, I upvoted your account because you us...",None,feybay,NaN,1429113421,2015-04-15 15:57:01+00:00,comment,9381820,9379964,NaN,NaN,None
1,None,None,Also current users of Samsung phones would be ...,None,myko,NaN,1364167239,2013-03-24 23:20:39+00:00,comment,5434303,5432470,NaN,NaN,None
2,None,None,"If Yahoo plays their cards right, they could b...",None,polynomial,NaN,1429113431,2015-04-15 15:57:11+00:00,comment,9381821,9381101,NaN,NaN,None
3,None,None,Harry Potter has better story and better lessons.,None,rimantas,NaN,1470688814,2016-08-08 20:40:14+00:00,comment,12250710,12250450,NaN,NaN,None
4,None,None,Shopify&#x27;s EmbeddedSDK does plugins (or &q...,None,acoard,NaN,1470688857,2016-08-08 20:40:57+00:00,comment,12250711,12222056,NaN,NaN,None