In [5]:
from google.cloud import bigquery

In [6]:
import os
from oauth2client.service_account import ServiceAccountCredentials

# credentials = ServiceAccountCredentials.from_json_keyfile_name('dpnhung.json')
# client = bigquery.Client(credentials=credentials)
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'dpnhung.json'
client = bigquery.Client()

In [7]:
dataset_ref = client.dataset("openaq", project='bigquery-public-data')
dataset = client.get_dataset(dataset_ref)

In [9]:
tables = list(client.list_tables(dataset))

table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

client.list_rows(table, max_results=5).to_dataframe()

,location,city,country,pollutant,value,timestamp,unit,source_name,latitude,longitude,averaged_over_in_hours
0,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,co,910.00,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
1,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,no2,131.87,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
2,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,o3,15.57,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
3,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,pm25,45.62,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25
4,"BTM Layout, Bengaluru - KSPCB",Bengaluru,IN,so2,4.49,2018-02-22 03:00:00+00:00,µg/m³,CPCB,12.912811,77.60922,0.25

In [10]:
# table.schema

In [15]:
first_query = """
            SELECT country
            FROM bigquery-public-data.openaq.global_air_quality
            WHERE unit = 'ppm';
        """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
first_query_job = client.query(first_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
first_results = first_query_job.to_dataframe()
print(first_results.head())

  country
0      US
1      US
2      US
3      US
4      US

In [17]:
zero_pollution_query = """
                            SELECT *
                            FROM bigquery-public-data.openaq.global_air_quality
                            WHERE value = 0;
                        """
                        
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(zero_pollution_query, job_config=safe_config)

zero_pollution_results = query_job.to_dataframe() 

print(zero_pollution_results.head())